.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
}

.questionHeader {
}

.questionSubheader {
    margin-top: 20px;
}

.questionInput {
    width: 35vw;
    margin-top: 30px;
}

.submittedQuestion {
    margin-bottom: 40px;
}

.questionDeepDiveContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.questionDeepDiveHeader {

}

.questionDeepDiveSubHeader {
    margin-top: 20px;
    color: #1D3557;
    line-height: 25px;
}

.questionTreeContainer {
    
}

.existingQuestionsOuterContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.existingQuestionsHeader {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.existingQuestionsContainer {
    width: 45vw;
}

.questionSuggestionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.questionSuggestion {
    margin-top: 20px;
    color: #AFAFAF;
    font-size: 14px;
}

.showQuestionSuggestionsTextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.showQuestionSuggestionsTextContainer:hover {
    cursor: pointer;
    .showQuestionSuggestionsArrow {
        transform: rotate(0deg);
    }
}

.showQuestionSuggestionsText {
    color: #AFAFAF;
    font-size: 14px;
}

.showQuestionSuggestionsArrow {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    transform: rotate(-90deg);
    transition: 0.2s ease all;
}

.showQuestionSuggestionsArrowSelected {
    transform: rotate(0deg);
}